<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vodaci</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='ocean.ico') }}">
</head>
<body>
    <div id="container">
        <img src="/static/img/big%20logo.png" alt="logo skoly" style="width: 60%;height: 60%">
        <h1>Rozsazení v lodích na vodáckém kurzu 2023 SPŠE Ječná</h1>
        <br>
        <a href="/registrace"><button>Registrace</button></a>
        <br>
        <h2>Seznam kamarádů</h2>
    <table>
        <tr>
            <th>Jmeno</th>
            <th>Plave</th>
            <th>Kamarad</th>
            <th>Trida</th>
        </tr>

        {% for ucastnik in muzici %}
            <tr>
                <th>{{ucastnik.jmeno}}</th>
                <th>{{ucastnik.plave}}</th>
                <th>{{ucastnik.kamos}}</th>
                <th>{{ucastnik.trida}}</th>
            </tr>
        {% endfor %}
    </table>
    <br>
    <p>Pro jakoukoli nejasnot napiste <a href="https://github.com/RadeksGalaxy/WAC4a/issues">Feedback</a></p>
    <p>Nebo poslete <a href="mailto:radakoblic@gmail.com">email</a></p>
    </div>
</body>
</html>